.container-addMore{
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.addMore {
  margin: 50px 10 20 10;
  background-image: linear-gradient( 135deg, #FEC163 10%, #de4213 100%);
  border-radius: 0.35rem;
  padding: 10px;
  width: 300px;
  cursor: pointer;
  border: none;
  color: antiquewhite;
  font-weight: 600;
}

.addMore:hover {
  background-image: linear-gradient( 135deg,#de4213  10%, #FEC163 100%);
}

.addMore:active {
  color: #FFF;
  background-image: linear-gradient( 135deg,#de4213  10%, #FEC163 100%);
  box-shadow: 0px 0px 2px 0px #aaf;
}

.addMore:disabled {
  background: #888;
  cursor: not-allowed;
}
