
.full-home{
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  max-width: 1280px;
  padding: 10px;
}

.searchInput-container {
  padding: 20px;
}

.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  max-width: 1280px;
}


